// Largeurs max
 $max-width: 1440px;
 $max-width-modal: 1200px;


// // les polices
 $font-text: 'Lato', sans-serif;
 $font-description: 'Roboto', cursive;

//les couleurs
$primary: #3282F7;
$success: #68D9A4;
$danger: #ED6454;
$color-bodyCard: #E7E7E7;
$color-bodyImage: #C7BEBE;

// border-radius
$bordeur-radius:5px;

// mise en forme des dropdowns
$button-colors: (
    primary: $primary,
    success: $success,
    danger: $danger
 );





